@use "../../styles/vars";
@use "sass:color";

.projets {
  font-family: "nunito";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0.041);
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 18rem;
    height: 24rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    box-shadow: 1px 1px 30px 7px #00000094;
  }

  &__card:hover {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1.1);
  }


  &__title {
    list-style: none;
    margin-top: 0.5rem;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 5%;
    font-size: 1.5rem;
    text-decoration: underline white;
  }

  &__button {
    list-style: none;
    font-weight: bold;
    color: white;
    padding: 0.3rem;
    border-radius: 10%;
    border: 1px solid white;
    margin-bottom: 1rem;
    
  }

  &__button:hover {
    background-color: #00e5f562;
  }

  &__text {
    font-size: 1.1rem;

  }

  img {
    width: 100%;
    height: 40%;
  }

  span {
    list-style: none;
    font-weight: bold;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }

  a:link {
    text-decoration: none;
    font-size: 1.3rem;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  #projet {
    background: linear-gradient(60deg, #3a0505, #ed213a);
  }

  #projet1 {
    background: linear-gradient(120deg, #ed213a, #3a0505);
  }

  #projet2 {
    background: linear-gradient(30deg, #3a0505, #ed213a);
  }

  #projet3 {
    background: linear-gradient(90deg, #ed213a, #3a0505);
  }

  #projet4 {
    background: linear-gradient(60deg, #3a0505, #ed213a);
  }

  #projet5 {
    background: linear-gradient(180deg, #ed213a, #3a0505);
  }
  #projet6 {
    background: linear-gradient(300deg, #3a0505, #ed213a);
  }
}




@media screen and (min-width: vars.$desktop) {
  .projets {
    font-family: "nunito";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    &__card {

      margin-bottom: 5rem;
      margin-top: 5rem;
      width: 25rem;
      height: 30rem;
      margin-left: 10rem;
      margin-right: 10rem;

    }
  
    &__card:hover {
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      -webkit-transform: scale(1);
      transform: scale(1.1);
    }
  
    &__title {
      list-style: none;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-bottom-right-radius: 15%;
      border-bottom-left-radius: 5%;
      font-size: 2rem;
      text-decoration: underline white;
    }
  
    &__button {
      list-style: none;
      font-weight: bold;
      color: white;
      padding: 0.4rem;
      border-radius: 10%;
      margin-bottom: 1rem;
      border: 1px solid white;
    }
  
    &__button:hover {
      background-color: #00e5f562;
    }
  
    &__text {
      font-size: 1.3rem;
    }
  
    img {
      width: 100%;
      height: 40%;
    }
  
    span {
      list-style: none;
      font-weight: bold;
      color: white;
      margin-left: 2rem;
      margin-right: 2rem;
      text-align: center;
    }
  
    a:link {
      text-decoration: none;
      font-size: 2rem;
    }
  
    a:visited {
      text-decoration: none;
    }
  
    a:hover {
      text-decoration: none;
    }
  
    a:active {
      text-decoration: none;
    }
  
    #projet {
      background: linear-gradient(60deg, #3a0505, #ed213a);
    }
  
    #projet1 {
      background: linear-gradient(120deg, #ed213a, #3a0505);
    }
  
    #projet2 {
      background: linear-gradient(30deg, #3a0505, #ed213a);
    }
  
    #projet3 {
      background: linear-gradient(90deg, #ed213a, #3a0505);
    }
  
    #projet4 {
      background: linear-gradient(60deg, #3a0505, #ed213a);
    }
  
    #projet5 {
      background: linear-gradient(180deg, #ed213a, #3a0505);
    }
    #projet6 {
      background: linear-gradient(300deg, #3a0505, #ed213a);
    }
  }

}