@use "../../styles/vars";
@use "sass:color";

.footer {
  background-color: #1e1f25;
  padding: 5rem;

  &__links {
    display: flex;
    justify-content: space-around;
    color: #a0a3af;
    font-size: 2.5rem;
  }

  a {
    color: inherit;
  }

  a:hover {
    filter: blur(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color:#f9004d;
  }
}

@media screen and (min-width: vars.$tablet) {
.footer{
  &__links {
    font-size: 3rem;
  }
}

}

@media screen and (min-width: vars.$desktop) {
.footer{
  &__links {
    font-size: 5rem;
  }
}

}